html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}
*{
    font-family: "Gill Sans", sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.container-medlem{
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.container-medlem header{
    font-size: 2rem;
    color:#333333;
    font-weight: 500;
    text-align: center;
    display: flex;
}

.Om-klubben-text{
    color:#333333;
}

.container-medlem .form{
    margin-top: 30px;
}
.form .input-box {
    width: 100%;
    margin-top:20px;
    
}
.input-box .label{
    color: #333333;
}
.form :where(.input-box input){
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    padding: 0 15px;
}
.form .column{
    display: flex;
    column-gap:15px;
}
.form .gender-box{
    margin-top: 20px;
}
.gender-box h3{
    color: #333333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap:50px;
    flex-wrap:wrap;
}
.form .gender{
    column-gap: 5px;
    cursor: pointer;
}
.form input{
    accent-color: royalblue;
}

.form :where(.gender input, .gender label){
    cursor: pointer;
}

.form button{
    height: 55px;
    width: 100%;
    color: #ffffff;
    font-size: 1rem;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 400;
    transition: all 0.2s ease;
    background-color: royalblue;
}
.form button:hover{
    background-color: blue;
}

.form .medlem-box{
    margin-top: 20px;
}
.medlem-box h3{
    color: #333333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.medlem-box h6{
    color: #333333;
    font-size:smaller;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.medlem-option, .medlem) {
    display: flex;
    align-items: center;
    column-gap:50px;
    flex-wrap:wrap;
}
.form .medlem{
    column-gap: 5px;
    cursor: pointer;
}
.form input{
    accent-color: royalblue;
}

.form :where(.medlem input, .medlem label){
    cursor: pointer;
}
/* Responsiv */
@media screen and (max-width:500px){
    .form .column{
        flex-wrap:wrap;
        
    }
    .form :where(.gender-option, .gender){
        row-gap:15px;
        
    }
    .form :where(.medlem-option, .medlem){
        row-gap:15px;

    }
}