html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: "Gill Sans", sans-serif; !important;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


.HilleroedSejlklub-text-and-image {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.Small-picture img {
  overflow: hidden;
  height: 15vw;
  margin-bottom: 20px;
  position: relative !important;
}

.HilleroedSejlklub-text-and-image p {
  max-width: 800px;
  color: black;
  font-family: "Gill Sans", sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.HilleroedSejlklub-text-and-image h6 {
  color: black;
  font-size: 20px;
  font-family: "Gill Sans", sans-serif;
  text-align: center !important;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.HilleroedSejlklub-text-and-image b {
  color: black;
  font-size: 19px;
  font-family: "Gill Sans", sans-serif;
  text-align: center !important;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.HilleroedSejlklub-text-and-image i {
  color: black;
  font-size: 17px;
  font-family: "Gill Sans", sans-serif;
  text-align: center !important;
  line-height: 1.5em;
  font-weight: bolder;
  margin-bottom: 20px;
}