html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: "Gill Sans", sans-serif !important;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.logo {
  height: 2.5rem;
  margin-bottom: 10px;
  margin-right: 25px;
  overflow: hidden;
}

.HilleroedSejlklub-text-and-image {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.Small-picture img {
  overflow: hidden;
  height: 15vw;
  margin-bottom: 20px;
  position: relative !important;
}

.HilleroedSejlklub-text-and-image p {
  max-width: 400px;
  color: black;
  font-family: "Gill Sans", sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  display: block;
  padding: inherit;
}

.HilleroedSejlklub-text-and-image h6 {
  color: black;
  font-size: 20px;
  font-family: "Gill Sans", sans-serif;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.HilleroedSejlklub-text-and-image b {
  color: black;
  font-size: 19px;
  font-family: "Gill Sans", sans-serif;
  line-height: 1.5em;
  margin-bottom: 20px;
}

.HilleroedSejlklub-text-and-image i {
  color: black;
  font-size: 17px;
  font-family: "Gill Sans", sans-serif;
  text-align: center !important;
  line-height: 1.5em;
  font-weight: bolder;
  margin-bottom: 20px;
}

.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}
.text-and-image hr {
  height: 3px;
  border-width: 2rem;
  color: royalblue !important;
  background: royalblue !important;
}

.HilleroedSejlklub-text
{
  color: black;
  font-size: 20px;
  font-family: "Gill Sans", sans-serif;
  line-height: 1.5em;
  margin-bottom: 20px;
}
.HilleroedSejlklub-text p {
  color: black;
  font-size:17px;
  font-family: "Gill Sans", sans-serif;
  line-height: 1.5em;
}
.HilleroedSejlklub-text h5
{
  color: black;
  font-size: 25px;
  font-family: "Gill Sans", sans-serif;
  line-height: 1.5em;
  margin-bottom: 20px;
}
.Mellem hr{
  height: 3px;
  border-width: 1rem;
  color: royalblue !important;
  background: royalblue !important;
}

.overskrift h1{
    font-size: 2rem;
    color:#333333;
    font-weight: 500;
    text-align: center;
    margin-top: 1.5rem;
   margin-bottom: 2rem;
  }

.container text-center{
  font-family:"Gill Sans", sans-serif;
}
.medlem-box h3{
  color: #000000;
  margin-bottom: 8px;
  font-size: 17px;
  font-family: "Gill Sans", sans-serif;
}
.MeldDigInd-text {
    color:#000000;
  }



.section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
  padding: 20px;
}

.section img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.section h2,
.section p {
  max-width: 600px;
}

.reverse {
  flex-direction: row;
}


.medlems-tabel {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  font-family: sans-serif;
}

.medlems-tabel th,
.medlems-tabel td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.medllems-tabel th {
  background-color: #0077b6;
  color: white;
}



.medlems-tabel tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Indersiden-img-and-text img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 15px;
}
.Stævne-img img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 15px;
}

.Laser-img img {
  width: 100%;
  max-width: 200px;
  height: 200px;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 15px;
}
body{
  text-align: center;
}

img:nth-child(3n+1) {
  clear: left;
  display: inline-block;
}

