@page
@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Blog";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="importmap"></script>
    <title>@ViewData["Title"] Blog </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HSejlklub.styles.css" asp-append-version="true" />
</head>
<div class="Indersiden-img-and-text">
    <h2>Sjælland Rundt På Indersiden-2023</h2>

    <img src="Images/20231.png" alt="image 1"></img>

    <img src="Images/20232.png" alt="image 2"></img>

    <img src="Images/20233.png" alt="image 3"></img>

    <img src="Images/20234.png" alt="image 4"></img>

    <img src="Images/20235.png" alt="image 5"></img>

    <img src="Images/20236.png" alt="image 6"></img>

</div>


<h2>Slotssøstævne-2017</h2>

<div class="Stævne-img">
    <img src="Images/1.1.png" alt="billede 1"></img>
    <img src="Images/1.2.png" alt="billede 2"></img>
    <img src="Images/1.4.png" alt="billede 4"></img>
    <img src="Images/1.5.png" alt="billede 5"></img>
    <img src="Images/1.7.png" alt="billede 7"></img>
</div>

<h2>Ny Laser-2017</h2>
<div class="Laser-img">
    <img src="Images/L1.png" alt="picture 1"></img>
    <img src="Images/L2.png" alt="picture 2"></img>
    <img src="Images/L3.png" alt="picture 3"></img>
    <img src="Images/L4.png" alt="picture 4"></img>
</div>


