@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HSejlklub.Pages.Medlemmer

@{
    Layout = "Shared/_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HSejlklub</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HSejlklub.styles.css" asp-append-version="true" />
</head>

<h2>Medlemsliste</h2>

<table class="medlems-tabel">
    <thead>
    <tr>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Email</th>
        <th>Aktiv</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Emma</td>
        <td>Larsen</td>
        <td>emma.larsen@hotmail.com</td>
        <td>Ja</td>
    </tr>
    <tr>
        <td>Lucas</td>
        <td>Møller</td>
        <td>lucas2304@gmail.com</td>
        <td>Ja</td>
    </tr>
    <tr>
        <td>Freja</td>
        <td>Andersen</td>
        <td>frejaande@gmail.com</td>
        <td>Ja</td>
    </tr>
    <tr>
        <td>William</td>
        <td>Jensen</td>
        <td>william.jensen@hotmail.com</td>
        <td>Nej</td>
    </tr>
    <tr>
        <td>Ida</td>
        <td>Larsen</td>
        <td>ida2003@outlook.com</td>
        <td>Ja</td>
    </tr>
    <tr>
        <td>Mads</td>
        <td>Dalberg</td>
        <td>dalbmads@hotmail.com</td>
        <td>Nej</td>
    </tr>
    <tr>
        <td>Christian</td>
        <td>Husum</td>
        <td>Christhusum@gmail.com</td>
        <td>Ja</td>
    </tr>
    </tbody>
</table>

