@page

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HSejlklub</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HSejlklub.styles.css" asp-append-version="true" />
</head>
<html>
<body>
<div class="overskrift">
    <h1><b>Om Klubben</b></h1>
</div>
<hr class="Mellem"></hr>
<div>
    <div class="HilleroedSejlklub-text">
        <div>
            <h5><b>Hillerød Sejklub</b></h5>
            <p>
                Hillerød Sejlklub er en aktiv og inkluderende klub for jollesejlere i alle aldre.
            </p>
            <p>
                Klubben holder til ved smukke Esrum Sø og tilbyder sejlads for både begyndere og øvede
                – med fokus på fællesskab, sejlglæde og naturoplevelser.
            </p>
            <p>
                Vi har plads til både børn, unge og voksne, uanset om man sejler for hyggens skyld,
                for motionen eller for at deltage i kapsejlads.
            </p>
        </div>
    </div>
</div>
<div class="medlem-box">
    <h3>Meld dig <a class="MeldDigInd-text" asp-area="" asp-page="/MeldDigInd">her</a></h3>
</div>
<hr/>
<div class="container text-center">
    <h1 class="display">Priserne</h1>
    <p class="lead"> Priserne for medlemskaberne </p>
</div>
<div class="container text-center">
<div class="row row-cols-1 row-cols-md-2">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4>Junior</h4>
            </div>
            <div class="card-body">
                <h1 class="my-0-font-weight-normal">750kr<small class="text-muted">/Årligt</small></h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4>Junior inkl. pladsleje</h4>
            </div>
            <div class="card-body">
                <h1 class="my-0-font-weight-normal">950kr<small class="text-muted">/Årligt</small></h1>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container text-center">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>Senior</h4>
                </div>
                <div class="card-body">
                    <h1 class="my-0-font-weight-normal">1100kr<small class="text-muted">/Årligt</small></h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>Senior inkl. pladsleje</h4>
                </div>
                <div class="card-body">
                    <h1 class="my-0-font-weight-normal">1500kr<small class="text-muted">/Årligt</small></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>Familie</h4>
                </div>
                <div class="card-body">
                    <h1 class="my-0-font-weight-normal">1500kr<small class="text-muted">/Årligt</small></h1>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>Bådplads</h4>
                </div>
                <div class="card-body">
                    <h1 class="my-0-font-weight-normal">400kr<small class="text-muted">/Årligt</small></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="HilleroedSejlklub-text">
    <h5><b>Medlemskab</b></h5>
    <p>Hos Hillerød Sejlklub kan man melde sig ind med tre forskellige medlemskaber: </p>
</div>
<div class="flex-container">
    <div class="HilleroedSejlklub-text-and-image">
        <div>
            <h6><i>Junior sejlads</i></h6>
            <p>Hver Tirsdag fra klokken 16:30 træner juniorsejlerne.</p>
            <p> Der sejles i optimistjoller, Feva og Laserjoller under kyndig ledelse af kompetente instruktører.
            <p/>
            <p>Har du lyst til at lære at sejle, så mød op i klubben tirsdage klokken 16:30.</p>
        </div>
        <div class="Small-picture">
            <img src="Images/Junior.png" alt="Junior Sejlerne"><img/>
        </div>
    </div>
    <div class="HilleroedSejlklub-text-and-image">
        <div>
            <h6><i>Senior sejlads</i></h6>
            <p>Hver tirsdag fra klokken 17:00 træner seniorsejlerne.</p>
            <p>
                Der sejles i klubbens tre Lynæs-14 kølbåde, i klubbens Wayfarer og i klubbens fem Laserjoller.
                Desuden er der private joller med i sejladserne.
            </p>
            <p>
                Har du lyst til at lære at sejle, så mød op i klubben tirsdage kokken 17:00
                Vi mixer gamle og nye på bådene fra gang til gang og nye indføres gradvist i regler, krav til frigivelse osv
            </p>
        </div>
        <div class="Small-picture">
            <img src="Images/Seniorsejlerne.png" alt="Senior Sejlerne">
        </div>
    </div>
    <div class="HilleroedSejlklub-text-and-image">
        <div>
            <h6><i>Familie Sejlads</i></h6>
            <p> Hillerød Sejlklub opfordrer vi både børn og forældre til at tage del i sejlsporten.
            <p/>
            <p>
                Når børnene vokser ud af optimistjollen, er det en oplagt mulighed for hele familien at sejle sammen
                – uanset om det er far og datter, mor og søn, eller en anden kombination.
            </p>
            <p>
                Familiesejlads styrker fællesskabet, fastholder de unge i sporten og giver forældre mulighed for at dyrke motion sammen med deres børn.
                Sejlads bliver dermed et fælles familieprojekt og en livslang aktivitet fyldt med samarbejde, frisk luft og naturoplevelser
            </p>
        </div>
        <div class="Small-picture">
            <img src="Images/Familie.jpg" alt="Familie"><img/>
        </div>
    </div>
</div>
</body>
